*.sdf
*.suo
*.opensdf
*.user
*.exe
*.dll
*.o
UAlbertaBot/UAB_ErrorLog.txt
UAlbertaBot/UAB_ErrorLog.txt
*.pd_
UAlbertaBot/UAB_ErrorLog.txt
BOSS/VisualStudio/BOSS.VC.db
*.opendb
*.ipch
*.ipch
*.db-shm
*.db-wal
*.obj
*.obj
*.log
*.pdb
*.tlog
*.ipch
*.db
.vs/ExampleProjects/v15/ipch/AutoPCH/9e3a1694b5f62101/EXAMPLEAIMODULE.ipch
